/.gradle/
/gradle.properties
**/dist/
**/bin/
**/build/

# Netbeans files
**/nbproject

# eclipse files
**/.classpath
**/.settings/
**/.project

# Mac OS files
**/.DS_Store

# VS code files
.vscode/

# dependencies in resources (jars are copied to the resource folder during build)
meja.poi.module/src/main/resources/com/dua3/meja/loader/poi/lib
